#c_right {
    background: transparent;
    border: none;
    width: 300px;
    padding: 0 15px;
    margin-top: -26px;
    &:hover {
        .control {
            opacity: 1;
        }
        #userscript_reloadForumButton {
            opacity: 1;
        }
    }
    #userscript_reloadForumButton {
        opacity: 0;
        transition: $base-transition;
    }
    .control {
        margin-top: 26px;
        opacity: 0;
    }
    .control_betting {
        width: 110px;
        margin-top: 22px;
        div {
            display: none;
        }
        span {
            border-radius: 50%;
            border: none;
            height: 18px;
            width: 18px;
            padding: 0;
            padding-top: 5px;
            top: 3px;
            left: 0;
            text-align: center;
            transition: $base-transition;
            background: $grey;
            color: $base-font-color;
            &:hover {
                background: $blue;
                color: #fff;
            }
        }
    }
    br {
        display: none;
    }
    .matches {
        li {
            center {
                a {
                    color: #999;
                }
            }
        }
    }
    >div {
        &:nth-of-type(8) {
            text-align: left;
            >a {
                @extend .button;
            }
        }
    }
}

#c_right .matches_filter {
    display: none;
}

#c_right .matches_filter {
    display: none;
}

#c_right a.matches_event_title {
    font-size: 14px;
    color: $blue;
    &:hover {
        color: $orange;
    }
}

#c_right ul.matches.live {
    border: none;
    box-shadow: none;
    margin: 0;
}

#c_right ul li span.game_icon_large {
    width: 17px;
    margin-top: 1px;
}

#c_right ul.matches li span {
    padding: 0;
}

#c_right ul.matches li span.vs {
    color: $base-font-color;
}

font.live {
    text-transform: lowercase;
    display: inline-block;
    &:first-letter {
        text-transform: none;
    }
}

font.score_win {
    color: $green;
}

font.score_loss {
    color: $red;
}

#c_right .matches_time_quick {
    text-align: left;
    li {
        @extend .button;
        width: auto;
        margin-right: 4px;
        &.active {
            @extend .is-blue;
            font-weight: normal;
        }
    }
}

#c_right ul li span.betting_rank {
    width: 11px;
}

#c_right h3 {
    font-family: $roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    margin-bottom: 10px;
    margin-top: 26px;
}


#c_right hr {
    display: none;
}

#c_right ul {
    margin-bottom: 20px;
}

#c_right .headlines_cat {
    font-size: 12px;
    color: #999;
    background: none;
    border: none;
    height: auto;
}

#c_right .headlines_cat span {
    padding: 0;
    height: auto;
}

#c_right .headlines_cat a {
    color: $blue;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: $roboto;
    &:hover,
    &:focus {
        color: $orange;
    }
}

#c_right span.headline_ind {
    display: none;
}

#c_right ul li {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $base-font-color;
    border: none;
    padding: 6px 0;
}

#c_right ul li a {
    color: #515A63;
    &:hover,
    &:focus {
        color: $blue;
    }
}

#c_right ul li a.block {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#c_right span.adv_title {
    display: none;
}

#c_right span.forum {
    color: #515A63;
    font-weight: 700;
    &:hover,
    &:focus {
        color: $blue;
    }
}

#c_right div.monkey_mr {
    display: none;
}

#c_right .headlines_cat span.icon {
    margin-top: 4px;
    margin-left: 5px;
}

.headlines_cat {
    &:hover,
    &:focus {
        .icon {
            opacity: 1;
        }
    }
    .icon {
        transition: $base-transition;
        opacity: 0;
    }
}

h3 {
    &:hover,
    &:focus {
        .amt_icon {
            opacity: 1;
        }
    }
    .amt_icon {
        transition: $base-transition;
        opacity: 0;
    }
}

#forums_list {
    .r {
        margin-top: 4px;
        margin-right: 0;
    }
}
