body {
    font-family: $opensans;
    color: $base-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@include selection {
  background-color: $orange;
  color: #fff;
}

a {
    transition: all .2s;
    &[name="plast"] {
        display: none;
    }
}

h1,
h2 {
    font-family: $roboto;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 14px;
}
