// Chrome Extension URL
$extension-url: "chrome-extension://__MSG_@@extension_id__";

// Fonts
$opensans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$fontawesome: 'FontAwesome';

// Colors
$primary-font-color: rgb(82, 90, 99);
$seconday-font-color: #999;
$primary-bg-color: rgb(247, 247, 247);
$secondary-bg-color: darken($primary-bg-color, 6%);
$nav-bg-color: #13222b;
$nav-font-color: #fff;
$blue: rgb(41, 135, 238);
$green: rgb(0, 194, 64);
$orange: rgb(255, 180, 0);
$red: rgb(212, 19, 19);
$yellow: rgb(255, 230, 0);

// Border
$base-border: 1px solid $secondary-bg-color;
$base-border-blue: 2px solid $blue;

// Transitions
$base-transition: all 0.2s;

// Page-Settings
$page-width: 1200px;

// Pace
$pace-progress-color: $orange;
