@import "bourbon";

@import "base/base";

$primary-font-color: #fff;
$primary-bg-color: #13222b;
$secondary-bg-color: lighten($primary-bg-color, 10%);
$secondary-font-color: tint($secondary-bg-color, 40%);
$nav-bg-color: $secondary-bg-color;
$base-border: 1px solid $secondary-bg-color;

@import "modules/modules";

@import "layout/layout";


#c_content {
  span[style*="color:#000000"] {
    color: #fff;
  }
}
