@include font-face("Open Sans", "#{$extension-url}/assets/fonts/opensans/opensans-regular", normal, $file-formats: ttf);
@include font-face("Open Sans", "#{$extension-url}/assets/fonts/opensans/opensans-italic", normal, italic, $file-formats: ttf);
@include font-face("Open Sans", "#{$extension-url}/assets/fonts/opensans/opensans-semibold", bold, $file-formats: ttf);
@include font-face("Open Sans", "#{$extension-url}/assets/fonts/opensans/opensans-semibold-italic", bold, italic, $file-formats: ttf);
$opensans: 'Open Sans', sans-serif;

@include font-face("Roboto", "#{$extension-url}/assets/fonts/roboto/roboto-bold", bold, $file-formats: ttf);
$roboto: 'Roboto', sans-serif;

body {
    font-family: $opensans;
    color: $base-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@include selection {
  background-color: $orange;
  color: #fff;
}

a {
    transition: all .2s;
    &[name="plast"] {
        display: none;
    }
}

h1,
h2 {
    font-family: $roboto;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 14px;
}
