@include font-face("Open Sans", "Open_Sans/OpenSans-Regular", normal, $file-formats: ttf);
@include font-face("Open Sans", "Open_Sans/OpenSans-Italic", normal, italic, $file-formats: ttf);
@include font-face("Open Sans", "Open_Sans/OpenSans-Semibold", bold, $file-formats: ttf);
@include font-face("Open Sans", "Open_Sans/OpenSans-SemiboldItalic", bold, italic, $file-formats: ttf);
$opensans: 'Open Sans', sans-serif;

@include font-face("Roboto", "../fonts/Roboto/Roboto-Bold", bold, $file-formats: ttf);
$roboto: 'Roboto', sans-serif;

body {
    font-family: $opensans;
    color: $base-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    transition: all .2s;
    &[name="plast"] {
        display: none;
    }
}

h1,
h2 {
    font-family: $roboto;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 14px;
}
