// Colors
$base-font-color: #515A63;
$blue: #2887ee;
$orange: #FFB400;
$lightgrey: #e9eaed;
$green: #00c240;
$red: #d41313;
$yellow: #ffe600;

// Border
$base-border: 1px solid #e0e0e0;
$base-border-blue: 2px solid $blue;

// Transitions
$base-transition: all 0.2s;
