#c_content {
    font-size: 14px;
    background: transparent;
    padding: 0 15px;
    width: 50%;
    @media (min-width: 1200px) {
        width: 60%;
    }
    >a[href*="http://www.readmore.de/news/archive"] {
        @extend .button;
        &[name="post_comment"] {
            display: none;
        }
    }
    &.col2 {
        @media (min-width: 992px) {
            width: 70%;
        }
        @media (min-width: 1200px) {
            width: 75%;
        }
    }
    h3 {
      color: $blue;
      text-align: left;
      border: none;
      font-size: 16px;
    }
}

#c_content ul.breadcrumbs {
    font-size: 14px;
    border-bottom: $base-border;
    margin-bottom: 12px;
	  padding-bottom: 6px;
    color: $seconday-font-color;
}

#c_content ul.breadcrumbs li+li:before {
    content: '›';
    padding: 0 8px;
}

#c_content {
    >hr {
        margin: 0;
    }
    >hr {
        display: none;
    }
}

.content_head {
    margin: 2px;
}

.content_head .subtitle {
    font-size: 12px;
    text-transform: none;
    color: $seconday-font-color;
    padding: 0;
    margin-bottom: 2px;
}

.content_head .time,
.content_head .category {
    color: $seconday-font-color;
    font-size: 12px;
}

.content_head h2.content_title {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: $roboto;
  margin-top: 4px;
  font-size: 16px;
}

#c_content .content.teaser {
  line-height: 1.5;
  margin-bottom: 15px;
}

.content_links_media ul {
    font-size: 12px;
}

.content_links_media ul img {
    margin-bottom: -3px;
}

.content_footer {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: $base-border;
    a {
        @extend .button;
        margin-left: 2px;
        &:nth-child(2) {
            @extend .is-blue;
        }
    }
}

a.load_more {
    @extend .button;
    display: inline-block;
    &:first-letter {
        text-transform: uppercase;
    }
}

.content {
    &.details {
        line-height: 1.5;
    }
    iframe {
        height: 412px;
    }
}

.ge_blockquote {
    padding: 15px;
    margin: 15px;
    border-left: $base-border-blue;
    background: $secondary-bg-color;
}

.ge_statement,
.forum_ed_spoiler {
    padding: 15px;
    margin: 15px 0;
    background: $secondary-bg-color;
    .ge_statement_trigger {
        transition: $base-transition;
        &:hover,
        &:focus {
            color: $orange;
        }
    }
    .ge_statement_el {
        margin-top: 15px;
    }
}

.content_social {
    display: none;
}

.content_authorbox {
    background: $secondary-bg-color;
    padding: 15px;
    font-size: 12px;
    color: $primary-font-color;
    .author {
        margin-top: 4px;
        width: 327px;
        img {
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }
        strong {
            color: $primary-font-color;
            display: inline-block;
            margin-top: 15px;
            font-weight: normal;
        }
    }
    .nav {
        li {
            color: $seconday-font-color;
            font-size: 12px;
            &:after {
                content: "•";
                color: $seconday-font-color;
            }
            &:hover,
            &:focus {
                color: $blue;
            }
            &.active {
                font-weight: normal;
                color: $primary-font-color;
            }
        }
    }
}

h2.comments {
    font-size: 14px;
    color: $blue;
    font-family: $roboto;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: $base-border;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    margin-bottom: 6px;
    margin-top: 26px;
}

.comment {
    @include clearfix();
    background: transparent;
    color: $primary-font-color;
    .comment_avatar {
        a {
            img {
                border-radius: 50%;
            }
        }
    }
    .comment_con {
        min-height: auto;
        .comment_head {
            font-size: 12px;
            color: $seconday-font-color;
            .user_status {
                border-radius: 50%;
                &.online {
                    background: $green;
                }
                &.offline {
                    background: $red;
                }
            }
            a {
                color: $blue;
                font-weight: normal;
                &:hover,
                &:focus {
                    color: $orange;
                }
            }
        }
        .comment_text {
            font-size: 14px;
        }
    }
    .comment_footer {
        box-shadow: none;
        border-top: none;
        border-bottom: $base-border;
        height: auto;
        @include clearfix();
        padding: 0;
        margin: 0;
        padding-bottom: 15px;
        margin-top: 15px;
        .comment_buttons {
            opacity: 0;
            transition: $base-transition;
            a {
                @extend .button;
                margin-right: 4px;
                text-indent: -100px;
                position: relative;
                padding-left: 18px;
                padding-right: 18px;
                overflow: hidden;
                display: inline-block;
                float: none;
                &:after {
                    content: "";
                    padding: 0;
                }
                &:before {
                    @include fa-icon();
                    position: absolute;
                    top: 0;
                    left: 100px;
                    margin-top: 10px;
                }
                &[onclick*="forums_post_quote"] {
                    &:before {
                        content: $fa-var-quote-left;
                        margin-left: 14px;
                    }
                }
                &[onclick*="report_post"] {
                    &:before {
                        content: $fa-var-exclamation;
                        margin-left: 16px;
                    }
                }
                &[onclick*="comment_edit"] {
                    &:before {
                        content: $fa-var-pencil;
                        margin-left: 13px;
                    }
                }
            }
        }
        .comment_edit_str {
          color: $seconday-font-color;
          font-size: 12px;
          margin-left: 75px;
        }
    }
    &:hover,
    &:focus {
      .comment_buttons {
        opacity: 1;
      }
    }
}

.forum_editor {
    .controls {
      height: 29px;
        li {
            margin-right: 4px;
            input {
                font-family: $fontawesome;
                border: none;
                background-image: none;
            }
        }
    }
}


.forum_thread_reply {
    h2 {
        font-size: 16px;
    }
}

.ge_h3 {
    font-size: 16px;
    color: $blue;
    font-family: $roboto;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    margin-top: 26px;
    border: none;
    text-align: left;
}

.pagination {
    margin: 15px 0;
    ul {
        li {
            a {
                @extend .button;
                border: none;
            }
            &.active {
                a {
                    @extend .is-blue;
                    border: none;
                }
            }
            &.disabled {
                a {
                    border: none;
                    padding: 6px 10px;
                }
            }
        }
    }
}

.forum_post {
    background: transparent;
    color: $primary-font-color;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    &.unread,
    &.official {
        padding-left: 15px;
    }
    .head {
        color: $seconday-font-color;
        font-size: 12px;
        font-family: $opensans;
    }
    .info {
        font-family: $opensans;
        .user {
            .user_status.forum {
                border-radius: 50%;
            }
            a {
                font-size: 14px;
            }
        }
        .ind_thread {
            font-size: 12px;
            color: $seconday-font-color;
            font-family: $opensans;
        }
        .avatar {
            img {
                border-radius: 50%;
                width: 100px;
                height: 100px;
            }
        }
        .stats {
            font-size: 12px;
            color: $seconday-font-color;
        }
    }
    .post {
        color: inherit;
        font-size: 14px;
        line-height: 1.5;
        word-wrap: break-word;
        hr {
            display: block;
            background: $secondary-bg-color;
        }
    }
    &:hover {
        .control {
            a {
                opacity: 1;
            }
        }
    }
    .control {
        box-shadow: none;
        border-top: none;
        border-bottom: $base-border;
        height: auto;
        @include clearfix();
        padding: 0;
        margin: 0;
        padding-bottom: 15px;
        margin-top: 15px;
        position: relative;
        span {
            color: $seconday-font-color;
            font-size: 12px;
            margin-left: 150px;
        }
        a {
            @extend .button;
            transition: $base-transition;
            opacity: 0;
            margin-right: 4px;
            text-indent: -100px;
            position: relative;
            padding-left: 18px;
            padding-right: 18px;
            overflow: hidden;
            &:after {
                content: "";
                padding: 0;
            }
            &:before {
                @include fa-icon();
                position: absolute;
                top: 0;
                left: 100px;
                margin-top: 10px;
            }
            &[onclick*="forums_post_edit"] {
                &:before {
                    content: $fa-var-pencil;
                    margin-left: 14px;
                }
            }
            &[onclick*="report_post"] {
                &:before {
                    content: $fa-var-exclamation;
                    margin-left: 16px;
                }
            }
            &[onclick*="forums_post_quote"] {
                &:before {
                    content: $fa-var-quote-left;
                    margin-left: 13px;
                }
            }
            &[href*="switch_sticky"] {
                &:before {
                    content: $fa-var-thumb-tack;
                    margin-left: 13px;
                }
            }
            &[href*="switch_close"] {
                &:before {
                    content: $fa-var-lock;
                    margin-left: 13px;
                }
            }
            &[href*="delete"] {
                &:before {
                    content: $fa-var-trash;
                    margin-left: 13px;
                }
            }
        }
    }
}

.forum_ed_youtube,
.forum_ed_youtube embed {
    height: 436px;
}

.forum_ed_img {
    max-height: none;
}

.forum_nav {
    margin: 15px 0;
    a {
        @extend .button;
        border: none;
    }
}

.forum_threads,
.forum_forums {
    .status {
        border-radius: 50%;
        margin-top: 5px;
        width: 10px;
        height: 10px;
        &.sticky_read {
            background: $yellow;
        }
        &.sticky_unread {
            background: $green;
        }
        &.read {
            background: $secondary-bg-color;
        }
        &.unread {
            background: $green;
        }
        &.closed {
            background: $red;
        }
    }
    tr {
        td {
            &:first-child {
                padding-right: 0;
                width: 16px;
            }
            &:nth-child(2) {
                padding-left: 0;
            }
        }
    }
}

.content.details {
  ul {
    list-style-type: disc;
  }
}

ul.messages_nav li a {
    @extend .button;
}

img[src*="user_pictures"],
img[src*="default"] {
    border-radius: 50%;
}

input[value="Neuen Avatar hochladen"] {
    margin-left: 4px;
}

input[value="Avatar löschen"] {
    background: $secondary-bg-color;
    color: $primary-font-color;
    &:hover,
    &:focus {
        background: $blue;
        color: #fff;
    }
}

div.msg {
    background: none;
    border: none;
    padding: 15px;
    &:not(:last-of-type) {
        border-bottom: $base-border;
    }
}

div.msg .head .left span {
    font-size: 12px;
}

div.msg .head .right span {
    font-size: 12px;
}

div.msg .body .buttons {
    opacity: 0;
    transition: $base-transition;
}

div.msg {
    &:hover,
    &:focus {
        .buttons {
            opacity: 1;
        }
    }
}

.user_status {
    border-radius: 50%;
}

input[value="Alle Nachrichten ausklappen"] {
    margin-left: 4px;
}

.profile_details {
    font-size: 14px;
}

a[onclick*="report_post"] {
    @extend .button;
}

.group_image {
    border-radius: 50%;
    border: none;
}

.group_details {
    margin: 0;
    font-size: 14px;
    width: 100%;
    padding-left: 132px;
}

#c_content object[type*="application/x-shockwave-flash"] {
    width: 100%;
    height: 414px;
}

#c_above {
    #livestream_player {
        margin-bottom: 30px;
        padding: 0 15px;
        object[type*="application/x-shockwave-flash"] {
            width: 100%;
            height: 707px;
        }
    }
}

.profile_avatar {
  img {
    border: none;
  }
}

.headline_content {
  iframe {
    width: 100%;
    height: 414px;
  }
}

table.group {
  background: none;
  tr {
    th {
      background: none;
    }
  }
}

.grid .round .match_container .match {
  background: none;
  color: $primary-font-color;
  transition: $base-transition;

  &:hover {
    color: $blue;
  }
}

.grid .round .round_line {
  background: $secondary-bg-color;
}

.ge_sidebox h2 {
  text-align: left;
  border: none;
  padding-left: 16px;
}

.ge_sidebox {
  border: none;
  background: $secondary-bg-color;
}

.ge_sidebox>div {
  color: $primary-font-color;
}

ul.match_subs li span.score span.pist {
  margin-top: 2px;
}

#sb-container {
  display: none;
  visibility: hidden;
}

.topnews {
  height: 240px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.topnews-img {
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnews-img img {
  width: 100%;
}

.topnews-select li {
  color: $primary-font-color;
  background-color: $secondary-bg-color;
  transform: none;
  border: none;
  padding: 6px 12px;
  font-size: 12px;
  font-family: $opensans;
  transition: all .2s;
  &:hover,
  &:focus {
    background-color: $blue;
    color: #fff;
  }
}

.topnews-select span {
  transform: none;
}

.topnews-select li.active {
  background: $blue;
  text-shadow: none;
  font-weight: normal;
  border-right: 2px solid $primary-bg-color;
  color: #fff;
}

.topnews-head .topnews-head-title {
  color: $blue;
}

.topnews-head .topnews-head-comments {
  color: $blue;
  font-size: 12px;
}

.topnews-select li:not(.active):after {
  background: $primary-bg-color;
}

.content iframe {
  width: 100%;
}

#livestream_player {
  iframe {
    width: 100%;
  }
}
