#footer {
    border: none;
    background: $nav-bg-color;
    box-shadow: none;
    div {
        color: $nav-font-color;
        font-size: 12px;
        padding: 0 15px;
        width: 960px;
        @media (min-width: 1200px) {
            width: 1180px;
        }
        a {
            color: $nav-font-color;
            &:hover,
            &:focus {
                color: $blue;
            }
        }
    }
}
