body {
    background: $base-bg-color;
    padding-top: 100px;
}

#monkey {
    width: $page-width;
    background: transparent;
}

#container {
    background: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container>div {
	border: none;
}
