body {
    background: $primary-bg-color;
    padding-top: 90px;
    font-family: $opensans;
    color: $primary-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#monkey {
    background: transparent;
    width: 100%;
}

#container {
    background: transparent;
    margin: 0 auto;
    padding: 0;
    width: 960px;
    @media (min-width: 1200px) {
        width: 1180px;
    }
}

#container>div {
  overflow: visible;
	border: none;
}
