body {
    background: $primary-bg-color;
    padding-top: 90px;
    font-family: $opensans;
    color: $primary-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#monkey {
    width: $page-width;
    background: transparent;
}

#container {
    background: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container>div {
  overflow: visible;
	border: none;
}
