#header {
    position: fixed;
    top: 0;
    z-index: 100;
    background: $nav-bg-color;
    height: 61px;
    div {
        background: none;
        height: inherit;
        div {
            width: 1180px;
            font-size: 12px;
        }
    }
    a {
        color: $nav-font-color;
        &:hover,
        &:focus {
            color: $blue;
        }
    }
    #logo {
        margin-top: 15px;
    }
    .nav {
        margin-top: 24px;
    }
    #header_search {
        float: none;
        margin-top: 19px;
        font-size: 12px;
        color: $nav-font-color;
        border: none;
        background: none;
        font-style: normal;
    }
    .line {
        position: static;
        height: auto;
        float: right;
        li {
            font-size: 12px;
            padding: 0;
            margin: 0;
            vertical-align: middle;
            margin-left: 15px;
            &.standing.standing_0 {
                background: $green;
            }
            &.standing.standing_1 {
                background: $orange;
            }
            &.standing.standing_2 {
                background: $red;
            }
        }
        .standing,
        .msg,
        .groups {
            margin-top: 3px;
        }
        .icon_msg,
        .icon_groups {
            margin: 0;
            background: none;
            width: auto;
            height: auto;
            vertical-align: middle;
            &:before {
                @include fa-icon();
            }
            &.new {
                &:before {
                    color: $orange;
                    animation: blink 1s infinite;
                }
            }
        }
        .icon_msg {
            &:before {
                content: $fa-var-envelope;
            }
        }
        .icon_groups {
            &:before {
                content: $fa-var-users;
            }
        }
        .ucp {
            color: $nav-font-color;
            height: auto;
            width: auto;
            text-align: left;
            min-width: 0;
            padding-top: 24px;
            padding-bottom: 20px;
            >img {
                display: none;
            }
            &:after {
                @include fa-icon();
                content: $fa-var-angle-down;
            }
            ul {
                width: auto;
                top: 61px;
                background: $nav-bg-color;
                transition: $base-transition;
                li {
                    margin: 0;
                    &.sep {
                        border: none;
                    }
                    #ucp_msg_cnt {
                        color: $nav-font-color;
                    }
                    a {
                        padding: 7.5px 15px;
                    }
                    &:first-child {
                        a {
                            padding-top: 15px;
                        }
                    }
                    &:last-child {
                        a {
                            padding-bottom: 15px;
                        }
                    }
                }
            }
        }
        .userscriptOptionsLi {
            display: none;
        }
        .socials {
            display: none;
        }
    }
    #module_search_container_header_search {
        display: none;
    }
}

#header ul.line li.standing.standing_0 {
    border-radius: 50%;
}
