#header {
    position: fixed;
    top: 0;
    z-index: 999;
    background: $nav-bg-color;
    height: 61px;
    >div {
        background: none;
        height: inherit;
        padding: 0 15px;
        margin: 0 auto;
        width: 960px;
        @media (min-width: 1200px) {
            width: 1180px;
        }
        >div {
            width: auto;
            font-size: 12px;
            margin: 0;
            height: 100%;
        }
    }
    a {
        color: $nav-font-color;
        &:hover,
        &:focus {
            color: $blue;
        }
    }
    #logo {
        width: 130px;
        height: 21px;
        margin-top: 19px;
        @media (min-width: 1200px) {
            width: 180px;
            height: 29px;
            margin-top: 15px;
        }
        background-image: url("#{$extension-url}/assets/img/logo-white.svg");
        background-size: 100%;
        transition: $base-transition;
    }
    .nav {
        margin-top: 24px;
        li {
            padding: 0 4px;
            @media (min-width: 1200px) {
                padding: 0 10px;
            }
        }
    }
    #header_search {
        position: absolute;
        z-index: 100;
        float: none;
        margin-top: 19px;
        font-size: 12px;
        color: $nav-font-color;
        border: none;
        background: none;
        font-style: normal;
        width: 54px;
        transition: $base-transition;
        background: $nav-bg-color;
        &.focus {
            width: 413px;
            @media (min-width: 1200px) {
                width: 529px;
            }
        }
    }
    .line {
        position: static;
        height: auto;
        float: right;
        li {
            font-size: 12px;
            padding: 0;
            margin: 0;
            vertical-align: middle;
            margin-left: 6px;
            @media (min-width: 1200px) {
                margin-left: 15px;
            }
            &.standing.standing_0 {
                background: $green;
            }
            &.standing.standing_1 {
                background: $orange;
            }
            &.standing.standing_2 {
                background: $red;
            }
        }
        .standing,
        .msg,
        .groups {
            margin-top: 3px;
        }
        .icon_msg,
        .icon_groups {
            margin: 0;
            background: none;
            width: auto;
            height: auto;
            vertical-align: middle;
            &:before {
                @include fa-icon();
            }
            &.new {
                &:before {
                    color: $orange;
                    animation: blink 1s infinite;
                }
            }
        }
        .icon_msg {
            &:before {
                content: $fa-var-envelope;
            }
        }
        .icon_groups {
            &:before {
                content: $fa-var-users;
            }
        }
        .ucp {
            color: $nav-font-color;
            height: auto;
            width: auto;
            text-align: left;
            min-width: 0;
            padding-top: 24px;
            padding-bottom: 20px;
            >img {
                display: none;
            }
            &:after {
                @include fa-icon();
                content: $fa-var-angle-down;
            }
            ul {
                width: 143px;
                top: 61px;
                background: $nav-bg-color;
                transition: $base-transition;
                li {
                    margin: 0;
                    &.sep {
                        border: none;
                    }
                    #ucp_msg_cnt {
                        color: $nav-font-color;
                    }
                    a {
                        padding: 7.5px 15px;
                    }
                    &:first-child {
                        a {
                            padding-top: 15px;
                        }
                    }
                    &:last-child {
                        a {
                            padding-bottom: 15px;
                        }
                    }
                }
            }
        }
        .userscriptOptionsLi {
            display: none;
        }
        .socials {
            display: none;
        }
    }
    #module_search_container_header_search {
        background: $nav-bg-color;
        color: $nav-font-color;
        border: none;
        box-shadow: none;
        top: 61px;
        height: auto;
        padding: 15px;
        .title {
            font-weight: bold;
        }
    }
}

#header ul.line li.standing.standing_0 {
    border-radius: 50%;
}

#header #sublogo {
  display: none;
}
