#c_left {
    background: transparent;
    border: none;
    width: 200px;
    padding: 0 15px;
    margin-top: -26px;
    .control {
        margin-top: 21px;
        opacity: 0;
        width: auto;
        height: auto;
    }
    &:hover {
        .control {
            opacity: 1;
        }
    }
    .fa {
      font-size: 16px;
    }
}

#c_left {
    h3 {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        border-bottom: $base-border;
        margin: 0;
        padding: 0;
        padding-bottom: 6px;
        margin-bottom: 6px;
        margin-top: 26px;
        &:before {
            @include fa-icon;
            width: 1.28571429em;
            text-align: center;
            margin-right: 4px;
        }
        &:nth-of-type(1) {
            &:before {
                content: $fa-var-video-camera;
            }
        }
        &:nth-of-type(2) {
            display: none;
        }
        &:nth-of-type(3) {
            &:before {
                content: $fa-var-gamepad;
            }
        }
        &:nth-of-type(4) {
            &:before {
                content: $fa-var-image;
            }
        }
        &:nth-of-type(5) {
            &:before {
                content: $fa-var-user;
            }
        }
        &.mod {
            color: $blue;
        }
    }
}

#c_left .pcgames {
    display: none;
}

#c_left hr {
    display: none;
}

#c_left ul li {
    font-size: 12px;
    padding: 6px 0;
    border: none;
}

#c_left ul li a {
    color: $primary-font-color;
    &:hover,
    &:focus {
        color: $blue;
    }
}

#c_left ul li span.game_icon {
    width: 17px;
}

#c_left ul li span.game_icon img {
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
}

#c_left ul li span.viewer {
    color: $seconday-font-color;
    font-style: normal;
}

#c_left .gallery_image {
    text-align: left;
    margin-top: 10px;
}

.gallery_image img {
    width: 100%;
    height: auto;
}

#c_left a.small {
    font-size: 12px;
    color: $primary-font-color;
}

#pricehits-up,
#pricehits,
#pricehits-down {
    display: none;
}
