#c_right {
    background: transparent;
    border: none;
    width: 300px;
    padding: 0 15px;
    margin-top: -26px;
    &:hover {
        .control {
            opacity: 1;
        }
        #userscript_reloadForumButton {
            opacity: 1;
        }
    }
    #userscript_reloadForumButton {
        opacity: 0;
        transition: $base-transition;
    }
    .control {
        margin-top: 28px;
        opacity: 0;
    }
    .fa {
      font-size: 16px;
    }
    #userscript_reloadForumButton {
      font-size: 14px;
      color: $blue;
    }
    .control_betting {
        width: 94px;
        margin-top: 22px;
        div {
            display: none;
        }
        span {
            border-radius: 50%;
            border: none;
            height: 20px;
            width: 20px;
            padding: 0;
            padding-top: 5px;
            top: 3px;
            left: 0;
            text-align: center;
            transition: $base-transition;
            background: $secondary-bg-color;
            color: $primary-font-color;
            font-size: 10px;
            &:hover {
                background: $blue;
                color: #fff;
            }
        }
    }
    br {
        display: none;
    }
    .matches {
        li {
            center {
                a {
                    color: $seconday-font-color;
                }
            }
        }
    }
    >div {
        &:nth-of-type(8) {
            text-align: left;
            >a {
                @extend .button;
            }
        }
    }
}

#c_right .matches_control {
    font-size: 12px;
}

#c_right .matches_filter {
    display: none;
}

#c_right .matches_filter {
    display: none;
}

#c_right a.matches_event_title {
    font-family: $roboto;
    font-size: 14px;
    color: $blue;
    &:hover {
        color: $orange;
    }
}

#c_right ul.matches.live {
    border: none;
    box-shadow: none;
    margin: 0;
}

#c_right ul li span.game_icon_large {
    width: 17px;
    margin-top: 1px;
}

#c_right ul.matches li span {
    padding: 0;
}

#c_right ul.matches li span.vs {
    color: $primary-font-color;
}

#c_right ul li span.betting_stats,
#c_right ul li span.betting_points {
    color: $seconday-font-color;
}

font.live {
    text-transform: lowercase;
    display: inline-block;
    &:first-letter {
        text-transform: none;
    }
}

font.score_win {
    color: $green;
}

font.score_loss {
    color: $red;
}

#c_right .matches_time_quick {
    text-align: left;
    li {
        @extend .button;
        width: auto;
        margin-right: 4px;
        &.active {
            @extend .is-blue;
            font-weight: normal;
        }
    }
}

#c_right ul li span.betting_rank {
    width: 25px;
}

#c_right h3 {
    font-family: $roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: $base-border;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    margin-bottom: 10px;
    margin-top: 26px;
    &:before {
        @include fa-icon;
        width: 1.28571429em;
        text-align: center;
        margin-right: 4px;
    }
    &:nth-of-type(1) {
        &:before {
            content: $fa-var-bars;
        }
    }
    &:nth-of-type(2) {
        &:before {
            content: $fa-var-trophy;
        }
    }
    &:nth-of-type(3) {
        &:before {
            content: $fa-var-globe;
        }
    }
    &:nth-of-type(4) {
        &:before {
            content: $fa-var-comments;
        }
    }
    span[style*="float: right"] {
        display: inline-block;
        margin-top: 4px;
        #userscript_reloadForumButton {
            color: $blue;
        }
    }
}


#c_right hr {
    display: none;
}

#c_right ul {
    margin-bottom: 20px;
}

#c_right .headlines_cat {
    font-size: 12px;
    color: $seconday-font-color;
    background: none;
    border: none;
    height: auto;

}

#c_right .headlines_cat span {
    padding: 0;
    height: auto;
}

#c_right .headlines_cat a {
    color: $blue;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: $roboto;
    &:hover,
    &:focus {
        color: $orange;
    }
}

#c_right span.headline_ind {
    display: none;
}

#c_right ul li {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $primary-font-color;
    border: none;
    padding: 6px 0;
}

#c_right ul li a {
    color: $primary-font-color;
    &:hover,
    &:focus {
        color: $blue;
    }
}

#c_right ul li a.block {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#c_right span.adv_title {
    display: none;
}

#c_right span.forum {
    color: $seconday-font-color;
    font-weight: 700;
    &:hover,
    &:focus {
        color: $blue;
    }
}

#c_right div.monkey_mr {
    display: none;
}

#c_right .headlines_cat span.icon {
    margin-top: 4px;
    margin-left: 10px;
    border: 0;
    color: $blue;
    .fa {
      font-size: 12px;
    }
    &:hover,
    &:focus {
      color: $orange;
    }
}

.headlines_cat {
    &:hover,
    &:focus {
        .icon {
            opacity: 1;
        }
    }
    .icon {
        transition: $base-transition;
        opacity: 0;
    }
}

h3 {
    &:hover,
    &:focus {
        .amt_icon {
            opacity: 1;
        }
    }
    .amt_icon {
        transition: $base-transition;
        opacity: 0;
        padding: 0;
        height: auto;
        color: $blue;
        margin-left: 6px;
        margin-top: 3px;
        .fa {
          font-size: 14px;
        }
    }
}

#forums_list {
    ul {
      li {
        .r {
          color: $seconday-font-color;
          margin-right: 0;
          opacity: 0;
          margin-left: 5px;
        }
        &:hover,
        &:focus {
          .r {
            opacity: 1;
          }
        }
      }
    }
}

#c_right #blogs_list h3 {
    &:before {
        content: $fa-var-book;
    }
}

#c_right ul.matches li span.user_bet {
    color: $orange;
    font-weight: normal;
}
