.button,
#{$all-buttons} {
    background-color: $seconday-bg-color;
    color: $primary-font-color;
    transition: all .2s;
    padding: 6px 12px;
    font-size: 12px;
    font-family: $opensans;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: $blue;
        color: #fff;
    }
    &.is-blue {
        background-color: $blue;
        color: #fff;
        &:hover,
        &:focus {
            background-color: $orange;
        }
    }
}

input[type="submit"] {
    background-color: $blue;
    color: #fff;
    float: right;
    &:hover,
    &:focus {
        background-color: $orange;
        color: #fff;
    }
}
