.button,
#{$all-buttons} {
    background-color: $secondary-bg-color;
    color: $primary-font-color;
    transition: all .2s;
    padding: 6px 12px;
    font-size: 12px;
    font-family: $opensans;
    cursor: pointer;
    height: 29px;
    &:hover,
    &:focus {
        background-color: $blue;
        color: #fff;
    }
    &.is-blue {
        background-color: $blue;
        color: #fff;
        &:hover,
        &:focus {
            background-color: $orange;
        }
    }
}

input[type="submit"],
input[value="Antwort erstellen"] {
    background-color: $blue;
    color: #fff;
    float: right;
    &:hover,
    &:focus {
        background-color: $orange;
        color: #fff;
    }
}

.profile_details {
  color: inherit;
  span {
    color: inherit;
  }
}
