#{$all-text-inputs} {
    background: $secondary-bg-color;
    border: none;
    font-size: 14px;
    color: $primary-font-color;
    line-height: 1.5;
    font-family: $opensans;
}

textarea {
    resize: vertical;
    min-height: 150px;
    padding: 15px;
}
